.RoundCorners {
    border-radius: 15px 15px 15px 15px;
    border: 1px #428DE6 solid;
    overflow: hidden;
    /* z-index: 1; */
}

.ImgSize {
    /* border: 1px grey solid; */
    width: 100%;
    height: 100%;
}