.Image {
    width: 100%!important;
    /* margin:  auto!important; */
}

.Card {
    
    width: 550px!important;
    /* max-width: 51%!important; */
}

.CardInfoSection {
    /* rounded corners and shifted up so it overlaps the picture */
    border-radius: 15px;
    overflow: hidden;

    /* width: 50%!important; */

    position: relative;
    top: -15px;
    z-index: 1;

    background-color: #B5D1DD;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.41);
}

.RoundCorners {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.Blue {
    color:  #B5D1DD;
}
@media only screen and (max-width: 390px) {
    .Blue {
        /* display: none; */
    }
    .Card {
        min-width: 90%!important;
        width: 95%!important;
        /* margin: auto!important; */
    }  
}

@media only screen and (max-width: 570px) { 
    .Card {
        width: 90%!important;
    }
}


.Hr {
    width: 15px;
    border: 1px white solid;
    border-radius: 2px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Vr {
    height: 85px;
    width: 1px;
    background-color: #BEBFBF;
    margin-top: 2.5%;
    margin-bottom: 0;
}


.Title {  
    font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Arial Rounded MT Bold';
    color: #484848;
}

.Text {
    font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Arial Narrow';
    color: #606060;
}

.Price {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    font-family: 'Arial Narrow';
    color: #484848;
}

.Column {
    width: 45%;
}

.Icon {
    transform: rotate(90deg);
}